.sales-summary-container {
  width: 440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sales-sumary-card {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sales-sumary-card-value {
  color: var(--white-color);
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.sales-sumary-card-label {
  color: var(--grey-light-125-color);
  font-size: 18px;
}

.sales-sumary-card:nth-of-type(1),
.sales-sumary-card:nth-of-type(2) {
  margin-bottom: 45px;
}
