* {
  box-sizing: border-box;
}

:root {
  --primary-color: #283142;
  --secondary-color: #1B2531;
  --ligth-color: #E9E9E9;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary-color);
  color: var(--ligth-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
