* {
  box-sizing: border-box;
}

:root {
  --primary-color: #283142;
  --secondary-color: #1B2531;
  --ligth-color: #E9E9E9;
  --grey-light-50-color: #9AAABE;
  --grey-light-100-color: #384459;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary-color);
  color: var(--ligth-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.base-card {
  background: var(--primary-color);
  border-radius: 10px;
}
